<!DOCTYPE html>
<html>
<head>
</head>
<body>

<h2>Time to add some workshops for the <%= @conference.name %> Conference</h2>

    <%= form_with model: Workshop.new do |f| %>

        <div class="form-group">
        <%= f.label :name, "Name:" %>
        <br>
        <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
        <%= f.label :description, "Description:" %>
        <br>
        <%= f.text_area :description, class: "form-control" %>
        </div>

        <div>
        <%= f.hidden_field :conference_id,  "#{@conference.id}" %>
        </div>

        <div class="actions">
        <%= f.submit class:"btn btn-primary" %>
        </div>

    <% end %>






</body>
</html>