<!DOCTYPE html>
<html>
<head>
<style>
</style>
</head>

<body>
<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>

<br>
<%= form_tag session_path do |f| %>

    <div class="form-group">
    <%= label_tag :email, "Email:" %>
    <br>
    <%= text_field_tag :email, params[:email], class: "form-control" %>
    </div>

    <div class="form-group">
    <%= label_tag :password, "Password:" %>
    <br>
    <%= password_field_tag :password %>
    </div>

    <div class="actions">
    <%= submit_tag "Log In", class:"btn btn-primary" %>
    </div>

<% end %>

    <p><%= link_to 'Sign in via GitHub', '/auth/github'%></p>

</body>
</html>