<!DOCTYPE html>
<html>
<head>
<style>
</style>
</head>
<body>

<h1 align="center">Sign Up Here</h1>
<img src="http://www.caribbean360.com/wp-content/uploads/2020/02/coronavirus-quarantine.jpg" alt="quarantine pic" height="300" width="600">

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>
      Please try again! <%= pluralize(@user.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>
 
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_for @user do |f| %>

    <div class="form-group">
    <%= f.label :name, "Name:" %>
    <br>
    <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
    <%= f.label :email, "Email:"  %>
    <%= f.text_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
    <%= f.label :password, "Password:" %>
    <%= f.password_field :password, class: "form-control" %>
    </div>

    <div>
    <%= f.hidden_field :admin, class: "form-check-input" %>
    </div>


    <div class="actions">
    <%= f.submit class:"btn btn-primary" %>
    </div>


<% end %>

<p>Try <%= link_to 'Signing in with the Facebook strategy', '/auth/github'%>.</p>




</body>
</html>