<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}


</style>
</head>
<body>
    <ul>
        <li><%= link_to "View Conferences", root_path %></li>
        <li><%= link_to "Edit Interests", "/users/#{@user.id}/user_interests/edit"%></li>
        <li><a href="/logout">LogOut</a></li>
    </ul>

    <h1>Welcome, <%= @user.name %>!!!</h1>
    <h3>This is your member portal where you can review</h3>
    <h3>All of the Information you've submitted about yourself</h3>
    <h3>A free signup is all you'll need to be able to register</h3>
    <h3>For any of the virtual conferences that you saw on the home page</h3>

    <dl>
        <dt><h2>Education</h2></dt>
        <dd><h4><%= @user.user_interest.school %></h4></dd>
        <dt><h2>Company</h2></dt>
        <dd><h4><%= @user.user_interest.company %></h4></dd>
        <dt><h2>Work Experience</h2></dt>
        <dd><h4><%= @user.user_interest.work_experience %> years</h4></dd>
        <dt><h2>Looking For Work?</h2></dt>
        <dd><h4><%= @user.user_interest.looking_for_work?.humanize %></h4></dd>
        <dt><h2>Code Skills</h2></dt>
        <dd><h4><%= @user.user_interest.code_skills %></h4></dd>
    </dl>


</body>
</html>