<!DOCTYPE html>
<html>
<head>
<style>

</style>
</head>
<body>
<% if current_user %>
    <ul>
        <li><%= link_to "My Page", user_path(current_user) %></li>
        <li><%= link_to "LogOut", logout_path %></li>
    </ul>
<% else %>
  <ul>
      <li><%= link_to "LogIn", login_path %></li>
      <li><%= link_to "SignUp", signup_path %></li>
      <li><%= link_to "Longest Name Page", conferences_longest_name_path %></li>
  </ul>
<% end %>

<!--
<% flash.each do |type, msg| %>
  <div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
    <%= msg %>
  </div>
<% end %>
-->

<h1 align="center">Remote Conferences 2020</h1>



<table style="width:100%">
    <thead>
        <tr>
            <th colspan="7"></th>
        </tr>
    </thead>


    <tbody>
        <tr>
        <td><strong>Name</strong></td>
        <td><strong>Date</strong></td>
        <td><strong>Time</strong></td>
        <td><strong>Minimum Donation</strong></td>
        <td><strong>Keynote</strong></td>
        <td><strong>Category</strong></td>
        <td><strong>Workshop Example</strong></td>
        </tr>

        <% @conferences.each do |conf| %>

            <tr>
                <td><a href="/conferences/<%= conf.id %>"><%= conf.name %></a></td>
                <td><%= conf.date.strftime("%b %d") %></td>
                <td><%= conf.time.strftime("%I:%M%p") %></td>
                <td>$ <%= conf.min_donation %></td>
                <td><%= conf.keynote %></td>
                <td><%= conf.category %></td>
                <% conf.workshops.limit(1).each do |workshop| %>
                <td> <%= workshop.name %> - <%= workshop.description %></td>
                <% end %>
            </tr>

        <% end %>
      

    </tbody>
</table>


</body>
</html>