<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}


</style>
</head>
<body>
<ul>
  <li><a href="/login">Login</a></li>
  <li><a href="/signup">Signup</a></li>
</ul>

<h1 align="center">Remote Conferences</h1>

<table style="width:100%">
    <thead>
        <tr>
            <th colspan="7"></th>
        </tr>
    </thead>


    <tbody>
        <tr>
        <td><strong>Name</strong></td>
        <td><strong>Date</strong></td>
        <td><strong>Time</strong></td>
        <td><strong>Minimum Donation</strong></td>
        <td><strong>Keynote</strong></td>
        <td><strong>Category</strong></td>
        <td><strong>Some Workshops</strong></td>
        </tr>

        <% @conferences.each do |conf| %>

            <tr>
                <td><%= link_to "#{conf.name}", conferences_path(conf) %></td>
                <td><%= conf.date %></td>
                <td><%= conf.time %></td>
                <td><%= conf.min_donation %></td>
                <td><%= conf.keynote %></td>
                <td><%= conf.category %></td>
                <td><%= conf.workshops.name %></td>
            </tr>

        <% end %>


    </tbody>
</table>


</body>
</html>