<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}


</style>
</head>
<body>
<% if current_user %>
    Logged in as <%= current_user.name %>
    <a href="/logout">LogOut</a>
<% else %>
<ul>
    <li><%= link_to "LogIn", login_path %></li>
    <li><%= link_to "SignUp", signup_path %></li>
</ul>
<% end %>

<h1 align="center">Remote Conferences 2020</h1>

<table style="width:100%">
    <thead>
        <tr>
            <th colspan="7"></th>
        </tr>
    </thead>


    <tbody>
        <tr>
        <td><strong>Name</strong></td>
        <td><strong>Date</strong></td>
        <td><strong>Time</strong></td>
        <td><strong>Minimum Donation</strong></td>
        <td><strong>Keynote</strong></td>
        <td><strong>Category</strong></td>
        <td><strong>Workshop Example</strong></td>
        </tr>

        <% @conferences.each do |conf| %>

            <tr>
                <td><a href="/conferences/<%= conf.id %>"><%= conf.name %></a></td>
                <td><%= conf.date.strftime("%b %d") %></td>
                <td><%= conf.time.strftime("%I:%M%p") %></td>
                <td>$ <%= conf.min_donation %></td>
                <td><%= conf.keynote %></td>
                <td><%= conf.category %></td>
                <% conf.workshops.limit(1).each do |workshop| %>
                <td> <%= workshop.name %> - <%= workshop.description %></td>
                <% end %>
            </tr>

        <% end %>
      

    </tbody>
</table>


</body>
</html>