<!DOCTYPE html>
<html>
<head>
<style>
</style>
</head>
<body>
<% if current_user %>
    <ul>
        <li><%= link_to "My Page", user_path(current_user) %></li>
        <li><%= link_to "LogOut", logout_path %></li>
    </ul>
<% else %>
<ul>
    <li><%= link_to "LogIn", login_path %></li>
    <li><%= link_to "SignUp", signup_path %></li>
</ul>
    <% flash.each do |type, msg| %>
        <div class="notice">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            <%= msg %>
        </div>
    <% end %>

<% end %>
<ul>
    <li><%= link_to "Attend Conference", new_conference_donation_path(@conference) %></li>
</ul>
<h3>Specific information for the <%=@conference.name%> conference</h3>

    <dl>
        <dt><h2>Date</h2></dt>
        <dd><h4><%= @conference.date.strftime("%b %d") %></h4></dd>
        <dt><h2>Time</h2></dt>
        <dd><h4><%= @conference.time.strftime("%I:%M%p") %></h4></dd>
        <dt><h2>Minimum Donation</h2></dt>
        <dd><h4>$<%= @conference.min_donation %></h4></dd>
        <dt><h2>Keynote Speaker</h2></dt>
        <dd><h4><%= @conference.keynote %></h4></dd>
        <dt><h2>Category</h2></dt>
        <dd><h4><%= @conference.category %></h4></dd>
        <dt><h2>Workshops</h2></dt>
        <% @conference.workshops.each do |workshop| %>
            <dd><h4><%= workshop.name %> - <%= workshop.description %></h4></dd>
        <% end %>
    </dl>

    <% if current_user %>
        <button type="button" class="btn btn-default"><a href="/donations/new">Donation</a></button>
    <% end %>
    




</body>
</html>