<!DOCTYPE html>
<html>
<head>
</head>
<body>

    <ul>
        <li><%= link_to "View Conferences", root_path %></li>
        <li><%= link_to "LogOut", logout_path %></li>
    </ul>


<h1>Edit <%= @user.name %>'s information</h1>

    <%= form_with url: user_user_interest_path, model: @user_interest do |f| %>

        <%= render partial: "form", locals: { f: f } %>

    <% end %>


</body>
</html>