<!DOCTYPE html>
<html>
<head>
</head>
<body>

    <ul>
        <li><%= link_to "View Conferences", root_path %></li>
        <li><%= link_to "LogOut", logout_path %></li>
    </ul>


<h1>Edit <%= @user.name %>'s information</h1>

    <%= form_with model: @user_interest do |f| %>

        <div class="form-group">
        <%= f.label :company, "Company:" %>
        <br>
        <%= f.text_field :company, class: "form-control" %>
        </div>

        <div class="form-group">
        <%= f.label :school, "Education:" %>
        <br>
        <%= f.text_field :school, class: "form-control" %>
        </div>

        <div class="form-group">
        <%= f.label :work_experience, "Experience:" %>
        <br>
        <%= f.text_field :work_experience, class: "form-control" %>years
        </div>
        <br>
        <div class="form-group">
        <%= f.label :looking_for_work, "Are you currently looking for work?(New and experienced devs)" %>
        
        <%= f.check_box :looking_for_work, class: "form-check-input" %>
        <br><br>
        </div>

        <div class="form-group">
        <%= f.label :code_skills, "Give us a little summary of your code skills (languages, frameworks, certs, etc.):" %>
        <br>
        <%= f.text_area :code_skills, class: "form-control" %>
        </div>



        <div class="actions">
        <%= f.submit class:"btn btn-primary" %>
        </div>

    <% end %>


</body>
</html>