<!DOCTYPE html>
<html>
<head>
</head>
<body>
    
    <ul>
        <li><%= link_to "View Conferences", root_path %></li>
        <li><%= link_to "LogOut", logout_path %></li>
    </ul>

<h1>Hey <%= @user.name %>!</h1>
<h3>Why don't you give us a little more information about yourself</h3>

    <%= form_with model: UserInterest.new, url: user_interest_path do |f| %>

        <%= render partial: "form", locals: { f: f } %>

    <% end %>


</body>
</html>